@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "./variables";

body {
  font-family: "Montserrat";
}
.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
  h2 {
    margin-top: 64px;
    margin-bottom: 47px;
    font-size: 48px;
    line-height: 48px;
    font-weight: 600;
    color: $main-color;
    &.heading {
      text-align: center;
    }
  }
  p {
    margin-bottom: 31px;
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    color: $main-color;
  }
}
.posts {
  margin-bottom: 100px;
}
.background__image {
  position: absolute;
  right: -50px;
  top: 100px;
  z-index: -1;
  &.lower {
    position: absolute;
    left: -100px;
    top: 850px;
    z-index: -1;
  }
}

@media only screen and (max-width: 567px) {
  .container {
    max-width: 100%;
    h2 {
      margin: 0 auto;
      font-size: 24px;
    }
    p {
      font-size: 14px;
    }
  }
}
@media only screen and (max-width: 991px) {
  .background__image {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .background__image {
    max-width: 200px;
    right: 50px;
    &.lower {
      left: 0;
    }
  }
}
