@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "./variables";

body {
  font-family: "Montserrat";
  margin-bottom: 125px;
}
.container {
  max-width: 1280px;
  margin: auto;
  h2 {
    margin-top: 64px;
    margin-bottom: 47px;
    font-size: 48px;
    line-height: 48px;
    font-weight: 600;
    color: $main-color;
    &.heading {
      text-align: center;
    }
  }
  p {
    margin-bottom: 31px;
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    color: $main-color;
  }
}
.background {
  margin: auto;
  position: relative;
  max-width: 1400px;
}
.background__image {
  position: fixed;
  right: 5%;
  top: 15%;
  z-index: -1;
  &__lower {
    position: fixed;
    left: 0%;
    bottom: -10%;
    z-index: -1;
  }
}

@media only screen and (max-width: 768px) {
  .background__image {
    display: none;
    &__lower {
      display: none;
    }
  }
}
@media only screen and (max-width: 567px) {
  .background__image {
    display: none;
    &__lower {
      display: none;
    }
  }
  .container {
    max-width: 100%;
    h2 {
      margin: 0 auto;
      font-size: 24px;
    }
    p {
      font-size: 14px;
    }
  }
}
