@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import './variables';

body {
    font-family:'Montserrat';
}
.container{
    max-width: 1280px;
    margin:0 auto;
    h2 {
        font-size: 48px;
        line-height: 48px;
        font-weight: 600;
        color: $main-color;
        &.heading {
            text-align: center;
        }
    }
    p{
        font-size: 18px;
        text-align: center;
        font-weight: 300;
        color: $main-color;
    }
}
.background {
    margin: auto;
    position: relative;
    max-width: 1400px;
}
.background__image{
    position: absolute;
    right:5%;
    top: 15%;
    z-index: -1;
    &__lower{
        position: absolute;
        left: 0%;
        bottom: -10%;
        z-index: -1;
    }
}
